<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-xs-12">
				<div class="companies">					
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-1.jpg" height="60" width="60" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-2.jpg" height="60" width="70" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-3.jpg" height="60" width="86" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-4.jpg" height="60" width="83" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-5.jpg" height="60" width="64" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-6.jpg" height="60" width="94" alt=""></a>
					</span>
					<span  class="margin-fix">
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-7.jpg" height="60" width="98" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-8.jpg" height="60" width="50" alt=""></a>
					</span>
					<span class="margin-fix">	
						<a href=""><img src="http://livedemo00.template-help.com/drupal_52188/sites/default/files/icon-banner-9.jpg" height="60" width="75" alt=""></a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-section-1 page-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 left-side">
					<div class="col-sm-4">
						<h2 class="footer-heading">
							Navigation
						</h2>
						<ul class="footer-btn footer-text">
							<li>
								<a href="" class="active home">Home</a>
							</li>
							<li>
								<a href="" ui-sref="contacts" class="contact">Contacts</a>
							</li>
							<li>
								<a href="" ui-sref="blog" class="blog">Blog</a>
							</li>
							<li>
								<a href="" class="about-us">Sign In</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="footer-heading">
							News
						</h2>
						<ul class="footer-btn footer-text">
							<li>
								<a href="">New Releases</a>
							</li>
							<li>
								<a href="">Events</a>
							</li>
							<li>
								<a href="">How To</a>
							</li>
							<li>
								<a href="">Real Help</a>
							</li>
							<li>
								<a href="">Charity</a>
							</li>
							<li>
								<a href="">Contests</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="footer-heading">
							Get in touch
						</h2>
						<dl class="footer-btn footer-text">
							<dt>
								E-mail: 
								<a href="mailto:mail@demolink.org">mail@demolink.org</a>
								<br>
								8901 Marmora Road
								<br>
								Glasgow, DO4 89GR.
							</dt>
							<dd>
								<span>Freephone:</span>
								+1 800 559 6580
							</dd>
							<dd>
								<span>Telephone:</span>
								+1 959 603 6035
							</dd>
							<dd>
								<span>FAX:</span>
								+ 1 504 889 9898
							</dd>
						</dl>
					</div>
				</div>
				<div class="col-sm-4 right-side">
					<div class="connect-online">
						<h2 class="footer-heading">
							Connect Online
						</h2>
						<div class="icons">
							<span>
								<a href="http://facebook.com/">
									<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
								</a>
							</span>
							<span class="margin-fix">
								<a href="http://plus.google.com/">
									<i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
								</a>
							</span>
							<span class="margin-fix">
								<a href="http://instagram.com/">
									<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
								</a>
							</span>
							<span class="margin-fix">
								<a href="http://pinterest.com/">
									<i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
								</a>
							</span>
							<span class="margin-fix">
								<a href="http://twitter.com/">
									<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
								</a>
							</span>
						</div>
					</div>
					<div class="sign-up">
						<h2 class="footer-heading">
							Stay informed
						</h2>
						<div class="form-up">
							<input type="E-mail" name="input" value size="40" maxlength="255" class="form-text required">
							<input type="submit" value="Sign Up" class="form-submit-btn">
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-section-2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 footer-btn footer-company">
					<span class="sitename">
						Consulting Company
					</span>
					 © 2016 
					<a href="">
						Privacy Policy
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d658543.5035673094!2d-88.34018265387442!3d41.848311849617964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c50c3137c6d%3A0xf543c013b417776f!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBIDYwMjkwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1471263012372" width="1840" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>