<header id="header" class="navbar-fixed-top">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.png" alt="">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="navigation" ui-sref="home"><a id="home" ng-class="{active: $state.is('home')}"  href="#home"  class="home"><strong>Home</strong></a></li>
            <li class="navigation" ui-sref="contacts"><a id="contact" ng-class="{active: $state.is('contacts')}" href="#contacts" class="contact"><strong>Contact</strong></a></li>
            <li class="navigation" ui-sref="blog"><a id="blog" ng-class="{active: $state.is('blog')}" href="#blog" class="blog"><strong>Blog pages</strong></a></li>
            <li class="navigation" ui-sref="sign-in"><a id="sign-in" ng-class="{active: $state.is('sign-in')}" href="#" class="sign-in"><strong>Sign in</strong></a></li>
            <!-- <li class="hidden-xs hidden-md hidden-sm">
              <div class="form-group form-group-sm wrapper-input-search">
                <input type="text" class="form-control search-header-input" required></input>
              </div>
            </li>
            <li class="hidden-xs hidden-md hidden-sm">
              <div class="form-group form-group-sm wrapper-input-search">
                <a><i class="fa fa-search fa-2x search-icon"></i></a>
              </div>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
