$small: 767px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media (max-width: $small) { @content; }
  }
}

#header {
    background: #404b52;
    height: 90px;
        .active {
        color: #fff;
        background-color: #dc6226;
    }
}

#main-navbar {
    margin-top: 13px;
    border: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 18px;
}

.navbar-nav > .navigation > a {
    @include respond-to(handhelds) {
        height: 50px;
        background-color: #404b52;
        line-height: 2;
        top: 0px;
    }
    position: relative;
    height: 90px;
    top: -32px;
    line-height: 58px;
    text-transform: uppercase;
}

.navbar-brand > img {
    @include respond-to(handhelds) { left: 0px;}
    left: 45px;
    position: relative;
}

body {
	margin-top: 90px;
}
