.section-1 {
    background: #fff url(http://static.livedemo00.template-help.com/drupal_52188/sites/all/themes/theme935/images/bg-1.png) center top no-repeat;
    padding: 100px 0 70px;
}

.jumbotron {
    background-color: transparent;
}

.center {
	text-align: center;
}