<div class="contacts">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="main-heading">Our Location</h2>
				<div id="map" class="map">
					<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&q=9870+St.+Vincent+Pl%2C+Glasgow%2C+United+Kingdom&iwloc=A&z=14&t=m&output=embed"></iframe>
				</div>
			</div>
			<div class="col-sm-12 main-form">
				<div class="col-sm-6">
					<form name="myForm" novalidate ng-submit="submitForm()" >
						<h2 class="main-heading">Contact form</h2>
						<div class="form-group">
							<label>Your name<span class="form-required"> *</span><br></label>
							<input name="userName" type="text" class="form-control" ng-model="formData.name" ng-message="min" required></input>
							<div ng-show="myForm.userName.$dirty && myForm.userName.$invalid">
		     					<p class="error" ng-show="myForm.userName.$error.required">You forgot to enter your name.</p>
		    				</div>
						</div>
						<div class="form-group">
							<label>Your e-mail address<span class="form-required"> *</span><br></label>
							<input name="userEmail" class="form-control" type="email" ng-model="formData.email" required></input>
							<div ng-show="myForm.userEmail.$dirty && myForm.userEmail.$invalid">
		     					<p class="error" ng-show="myForm.userEmail.$error.required">You forgot to enter your email adress.</p>
		     					<p class="error" ng-show="myForm.userEmail.$invalid-email">You did not enter your email address correctly.</p>
		    				</div>
						</div>
						<div class="form-group">
							<label>Subject<span class="form-required"> *</span><br></label>
							<input name="subject" class="form-control" type="text" ng-model="formData.subject" required></input>
							<div ng-show="myForm.subject.$dirty && myForm.subject.$invalid">
								<p class="error" ng-show="myForm.subject.$error.required">You forgot to enter your subject.</p>
							</div>
						</div>
						<div class="form-group">
							<label>Message<span class="form-required"> *</span><br></label>
							<textarea name="message" style="max-width:100%" rows="5" required ng-model="formData.message" class="form-control"></textarea>
							<div ng-show="myForm.message.$dirty && myForm.message.$invalid">
		     					<p class="error" ng-show="myForm.message.$error.required">You forgot to enter your message.</p>
		    				</div>
						</div>
						<div class="form-group">
							<label class="web-btn">
								<button class="success" ng-class="theme" ng-click="CheckTheForm()" href="" ng-disabled="myForm.$invalid" type="submit">Send message</button> 
							</label>
						</div>
						<!-- <div class="well">
							Info: {{information}}
							<div>
								Valid: {{myForm.$valid}}
							</div>
						</div> -->
					</form>
				</div>
				<div class="col-sm-6">
					<h2 class="main-heading">Contact Information</h2>
					<div class="right-form-content">
						<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque et quasi architecto beatae vitae dicta sunt explicabo. Mornunc odio gravida atcursus neus a lorem. Maecenas tristique orci ac sem. Duis ultric pharetra magna. Donec accumsan malesuada orcic sit amet eros. Lorem ipsum dolor sit amet onsectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget. Mauris tincidunt aliquam lectus sed vestibulum. Vestibulum bibendum suscipit mattis. Praesent nec tincidunt turpis. Aliquam et nisi risus. Cras ut varius ante. Ut congue gravida dolor, vitae viverra dolor.</p>
					</div>
					<dl class="col-sm-12 right-content-footer">
						<dt class="col-sm-6">
							The Company Name Inc.
							<br>
							9870 St Vincent Place,
							<br>
							Glasgow, DC 45 Fr 45.
						</dt>
						<dd class="col-sm-6">
							E-mail:
							<a href="mailto:mail@demolink.org">mail@demolink.org</a>
							<br>
							<span>Telephone:</span>
							+1 959 603 6035
							<br>
							<span>FAX:</span>
							+ 1 504 889 9898
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'assets/templates/components/main-footer.html'"></div>
