<div class="sign-in-page">
  <div class="container">
    <section class="maincontent row">
      <div class="row signin-content-wrapper">
        <form name="LoginForm.login" class="col-sm-4 col-sm-offset-4 signin-form" novalidate ng-submit="submitSignIn()">
          <div class="login-form">
            <h2 class="main-heading">Sign in</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control validate-err" id="email" ng-change="validInputs()" placeholder="Enter Email" ng-model="signInData.email" name="email" required>
                <div class="error-container" ng-show="LoginForm.login.email.$dirty && LoginForm.login.email.$invalid" role="alert">
                    <small class="error" ng-show="LoginForm.login.email.$error.required">This field is required</small>
                    <small class="error" ng-show="LoginForm.login.email.$dirty &amp;&amp; LoginForm.login.email.$error.email">This field must be a valid email address</small>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control validate-err" id="password" ng-change="validInputs()" placeholder="Enter Password" ng-model="signInData.password" name="password" required>
                <div class="error-container" ng-show="LoginForm.login.password.$dirty && LoginForm.login.password.$invalid" role="alert">
                    <small class="error" ng-show="LoginForm.login.password.$error.required">This field is required</small>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible" ng-show="errorMessage">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="closeError()">&times;</span></button>
                {{errorMessage}}
            </div>
            <a class="forgot-pwd pull-right" href="" ui-sref="forgotPwd">Forgot Password</a>
            <div class="remember-me">
              <input type="checkbox" id="remember" name="remember" class="" ng-model="signInData.rememberMe" value="yes">
              <label for="remember">Remember Me</label>
            </div>
            <a type="submit" ng-disabled="LoginForm.login.$invalid" class="btn sign-in-btn btn-square login-btn">Sign in</a>
            <hr class="divider">
            <div class="no-account">
              <span class="pull-left">No Account?</span>
              <a href="" ui-sref="sign-up" class="pull-right">Sign up now</a>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<div ng-include="'assets/templates/components/main-footer.html'"></div>
